/* src/components/LandingPage.css */

.landing-container {
    text-align: center;
    padding: 50px 20px;
    /* background-color: rgba(156, 212, 231, 0.5); */
    /* Light blue semi-transparent background */
    backdrop-filter: blur(5px);
    /* Apply blur */
    border-radius: 20px;
    /* More rounded corners */
    max-width: 800px;
    margin: 40px auto;
    /* Increased margin for better spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.landing-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    padding: 10px;
    /* Added padding */
}

.landing-container p {
    font-size: 3rem;
    margin-bottom: 40px;
    color: #555;
    padding: 20px;
    /* Added padding */
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 100px;
    margin-right: 100;
    /* Increased gap for better spacing */
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 30px;
    padding: 15px;
    /* Added padding */
}

/* bubble */
.concern-button {
    background-color: #5cb1e6;
    /* Light Sky Blue */
    color: #fff;
    border: none;
    padding: 15px 20px;
    /* Increased padding for better touch areas */
    border-radius: 15px;
    /* More rounded corners */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.5rem;
    padding: 20px;
    /* Added padding */
}

.concern-button:hover {
    background-color: #00BFFF;
    /* Deep Sky Blue on hover */
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.input-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    /* Added padding */
}

.input-field {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Increased border-radius */
    background-color: rgba(255, 255, 255, 0.8);
    /* Slightly opaque input background */
    padding: 10px;
    /* Added padding */
}